# Environments
.env**
.venv
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Testing and Tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
tests/

# Local Database Volumes (CRITICAL ADDITIONS)
postgres/
redis/
keys/
*.sqlite3

# Database Migrations 
# NOTE: Only ignore these if you DO NOT run migrations from within the Docker container!
# alembic/
# alembic.ini
# alembic.ini.bak

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Docs & Dev Configs
README.md
docker-compose.yml
main.py
pytest.ini
.gitignore
.dockerignore
Dockerfile
scripts/